In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("customer.csv")

In [10]:
df.sample(5)

    age  gender   review education purchased
49   25  Female     Good        UG        No
46   64  Female     Poor        PG        No
12   51    Male     Poor    School        No
3    72  Female     Good        PG        No
0    30  Female  Average    School        No

In [11]:
df = df.iloc[:,2:]

In [12]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [13]:
X = df.iloc[:,:-1]
X.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [16]:
X.shape

(50, 2)

In [14]:
y = df.iloc[:,-1]
y.head()

0    No
1    No
2    No
3    No
4    No
Name: purchased, dtype: object

In [17]:
y.shape

(50,)

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [20]:
X_train.shape

(40, 2)

In [21]:
X_test.shape

(10, 2)

In [22]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [26]:
X_train = oe.fit_transform(X_train)

In [27]:
X_test = oe.fit_transform(X_test)

In [28]:
X_train

array([[2., 1.],
       [1., 2.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [2., 2.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [2., 0.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [2., 2.],
       [0., 0.],
       [1., 1.],
       [0., 2.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [1., 0.],
       [2., 0.]])

In [30]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le = LabelEncoder()

In [33]:
y_train = le.fit_transform(y_train)
y_test = le.fit_transform(y_test)

In [34]:
y_train

array([0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0])